<%- include('../partials/header') %>
<%- include('../partials/navbar') %>
<body class="text-justify">
    <main role="main" class="cfForm w-100 m-auto" style="padding-top: 80px;">
        <% if(identity) {%>
        <h1 id="codFiscale" class="text-center card-title"><code><%= identity.codFiscale %></code></h1>
        <div class="mx-auto card" style="padding-top: 30px;">
            <div class="card-body">
            <p class="cfIdentity card-subtitle text-muted">Cognome: <b><%= identity.surname %></b></p>
            <p class="cfIdentity card-subtitle text-muted">Nome: <b><%= identity.name %></b></p>
            <p class="cfIdentity card-subtitle text-muted">Sesso: <b>
                <% if(identity.sex === "male") { %>
                    Uomo
                <% } else { %>
                    Donna
                <% } %>
            </b></p>
            <p class="cfIdentity card-subtitle text-muted">Luogo Di Nascita: <b><%= identity.birthPlace %></b></p>
            <p class="cfIdentity card-subtitle text-muted">Data Di Nascita: <b><%= identity.birthDay %></b> <b id="month"><%= identity.birthMonth %></b> <b><%= identity.birthYear %></b></p>
            <p class="cfIdentity card-subtitle text-muted">Codice Fiscale: <b><%= identity.codFiscale %></b></p>
            </div>
            <% if(reverse) {%>
                <button class="w-80 btn btn-lg btn-dark" type="button" onclick="location.href='/reverse';">Inverti un nuovo codice</button>
            <% } else { %>
                <button class="w-80 btn btn-lg btn-dark" type="button" onclick="location.href='/';">Calcola un nuovo codice</button>
            <% } %>
        </div>
        <% } %>
    </main>
      
    <%- include('../partials/footer') %>
    <script src="/js/mapMonths.js"></script>
</body>
</html>
